#cuerpo{
    background-color: #faf6e9;
    overflow: hidden;
    padding-top:120px;
    width: 100%;   
}

body {
    background: #faf6e9;
}

#map {
    width: 100%;
    
}
.container{
    margin-bottom: 20px;
    width: 100%;
}
.container p {
    font-family: "Montserrat";
    font-size: 18px;
    color:#494949;
    font-weight: bolder;
    
}

#store {
    padding: 40px;
    text-align: center;
    background-color:#ece8d9;
    margin-top: 10px;
}

#store p b {
    font-size: 20px;
    text-decoration: underline;
}
