#principal{
    background-color: #faf6e9;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    top:75px;
    height: 3500px;
    width: 100%;
}
.carousel-item img{
    height: 680px;
}
.zapatoH{
    position: relative;
    float: left;
    overflow:hidden;
    width: 25%;
    margin-bottom: 10px;  
}
.zapatoH:hover img{
    filter: opacity(.8);
}
.zapatoH img{
    height: 500px;
    display: block;
    margin: auto;
    max-height: 700px;
}

.zapatoM{
    position: relative;
    float: left;
    overflow:hidden;
    width: 25%; 
    background-color: white;
    height: 500px;
    margin-bottom: 10px;
}
.zapatoM:hover img{
    filter: opacity(.8);
}
.zapatoM img{
    position: relative;
    height: 500px;
    display: block;
    margin: auto;
    max-height: 300px;
    top: 40px;
}

.remeraM{
    position: relative;
    float: left;
    overflow:hidden;
    width: 25%;
    margin-bottom: 10px;  
}
.remeraM:hover img{
    filter: opacity(.8);
}
.remeraM img{
    height: 500px;
    display: block;
    margin: auto;
}

.CamisaH{
    position: relative;
    float: left;
    overflow:hidden;
    width: 25%;  
    margin-bottom: 10px;
}
.CamisaH:hover img{
    filter: opacity(.8);
}
.CamisaH img{
    height: 500px;
    display: block;
    margin: auto;
}

.buzoM{
    position: relative;
    float: left;
    overflow:hidden;
    width: 30%;  
    margin-bottom: 10px;
}
.buzoM:hover img{
    filter: opacity(.8);
}
.buzoM img{
    position: relative;
    height: 800px;
    display: block;
    margin: auto;
    right: 100px;
}
.buzoH{
    position: relative;
    float: left;
    overflow:hidden;
    width: 40%;  
    margin-bottom: 10px;
}
.buzoH:hover img{
    filter: opacity(.8);
}
.buzoH img{
    height: 800px;
    display: block;
    margin: auto;
}

.cinturonH{
    position: relative;
    float: left;
    overflow:hidden;
    width: 25%;  
    margin-bottom: 10px;
}
.cinturonH:hover img{
    filter: opacity(.8);
}
.cinturonH img{
    height: 500px;
    display: block;
    margin: auto;
    max-height: 1000px;
}

.cinturonM{
    position: relative;
    float: left;
    overflow:hidden;
    width: 25%;  
    margin-bottom: 10px;
}
.cinturonM:hover img{
    filter: opacity(.8);
}
.cinturonM img{
    height: 500px;
    display: block;
    margin: auto;
    max-height: 1000px;
}
.jeanH{
    position: relative;
    float: left;
    overflow:hidden;
    width: 40%;  
    margin-bottom: 10px;
}
.jeanH:hover img{
    filter: opacity(.8);
}
.jeanH img{
    height: 800px;
    display: block;
    margin: auto;
}
.jeanM{
    position: relative;
    float: right;
    overflow:hidden;
    width: 30%;  
    margin-bottom: 10px;
}
.jeanM img{
    position: relative;
    height: 800px;
    display: block;
    margin: auto;
    right: 100px;
}
.jeanM:hover img{
    filter: opacity(.8);
}
.jeanM2{
    position: relative;
    float: right;
    overflow:hidden;
    width: 30%;  
    margin-bottom: 10px;
}
.jeanM2:hover img{
    filter: opacity(.8);
}
.jeanM2 img{
    position: relative;
    height: 800px;
    display: block;
    margin: auto;
    right: 70px;
}

.marcas{
    position: relative;
    float: left;
    overflow:hidden;
    width: 15%;  
    margin-bottom: 10px;
    left: 60px;
    top: 15px;
}

.marcas img{
    position: relative;
    display: block;
    margin: auto;
}
#barra-inferior{
    margin-top: 80px
}

/*
aca termina el section
-------------------------------------------------
*/


/*
arrancamos con cada viwepoint
mobile s


@media (min-width:1441px){
    #principal{
        height: 6100px;
    }
    .carousel-item img{
        height: 1200px;
    }
    .zapatoH img{
        height: 9000px;
        max-height: 900px;
    }
    .zapatoM{
        height: 900px;
    }
    .zapatoM img{
        max-height: 900px;
        top: 100px;
    }
    .CamisaH img{
        height: 900px;
    }
    .remeraM img{
        height: 900px;
    }
    .buzoM img{
        height: 1400px;
    }
    .buzoH img{
        height: 1400px;
    }
    .cinturonH img{
        height: 900px;
    }
    .cinturonM img{
        height: 900px;
    }
    .jeanH img{
        height: 1400px;
    }
    .jeanM img{
        height: 1400px;
    }
    .jeanM2 img{
        height: 1400px;
    }
    .marcas{
        left: 100px;
    }
    .marcas img{
        height: 200px;
    }
}
*/
@media(max-width: 426px){
    .carousel-item img{
        height: 200px;
    }
    .zapatoH{
        position: relative;
        float: left;
        overflow:hidden;
        width: 50%;
        margin-bottom: 10px;  
    }
    .zapatoH img{
        height: 300px;
        display: block;
        margin: auto;
        max-height: 700px;
    }
    .zapatoM{
        position: relative;
        float: left;
        overflow:hidden;
        width: 50%; 
        background-color: white;
        height: 300px;
        margin-bottom: 10px;
    }
    
    .zapatoM img{
        position: relative;
        height: 300px;
        display: block;
        margin: auto;
        max-height: 200px;
    }
    .CamisaH{
        position: relative;
        float: left;
        overflow:hidden;
        width: 50%;  
        margin-bottom: 10px;
    }
    .CamisaH img{
        height: 300px;
        display: block;
        margin: auto;
    }
    .remeraM{
        position: relative;
        float: left;
        overflow:hidden;
        width: 50%;
        margin-bottom: 10px;  
    }
    .remeraM img{
        height: 300px;
        display: block;
        margin: auto;
    }
    .buzoM img{
        position: relative;
        height: 300px;
        display: block;
        margin: auto;
        right: 50px;
    }
    .buzoH img{
        height: 300px;
        display: block;
        margin: auto;
    }
    .cinturonH{
        position: relative;
        float: left;
        overflow:hidden;
        width: 50%;  
        margin-bottom: 10px;
    }
    .cinturonH img{
        height: 300px;
        display: block;
        margin: auto;
        max-height: 1000px;
    }
    .cinturonM{
        position: relative;
        float: left;
        overflow:hidden;
        width: 50%;  
        margin-bottom: 10px;
    }
    .cinturonM img{
        height: 300px;
        display: block;
        margin: auto;
        max-height: 1000px;
    }
    .jeanH img{
        height: 300px;
        display: block;
        margin: auto;
    }
    .jeanM img{
        position: relative;
        height: 300px;
        display: block;
        margin: auto;
        right: 50px;
    }
    .jeanM2 img{
        position: relative;
        height: 300px;
        display: block;
        margin: auto;
        right: 40px;
    }
    .marcas{
        position: relative;
        float: left;
        overflow:hidden;
        width: 45%;  
        margin-bottom: 10px;
    }
    .marcas img{
        position: relative;
        right:30px;
        max-height:80px
    }
    #principal{
        background-color: #faf6e9;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        top:80px;
        height: 2350px;
        width: 100%;
    }
}
@media(max-width: 320px){
    .carousel-item img{
        height: 150px;
    }
    .zapatoH img{
        height: 200px;
        display: block;
        margin: auto;
        max-height: 700px;
    }
    .zapatoM{
        position: relative;
        float: left;
        overflow:hidden;
        width: 50%; 
        background-color: white;
        height: 200px;
        margin-bottom: 10px;
    }
    
    .zapatoM img{
        position: relative;
        height: 200px;
        display: block;
        margin: auto;
        max-height: 150px;
        top:-3px;
    }
    .CamisaH{
        position: relative;
        float: left;
        overflow:hidden;
        width: 50%;  
        margin-bottom: 10px;
    }
    .CamisaH img{
        height: 200px;
        display: block;
        margin: auto;
    }
    .remeraM img{
        height: 200px;
        display: block;
        margin: auto;
    }
    .buzoM img{
        position: relative;
        height: 200px;
        display: block;
        margin: auto;
        right: 20px;
    }
    .buzoH img{
        height: 200px;
        display: block;
        margin: auto;
    }
    .cinturonH img{
        height: 200px;
        display: block;
        margin: auto;
        max-height: 1000px;
    }
    .cinturonM img{
        height: 200px;
        display: block;
        margin: auto;
        max-height: 1000px;
    }
    .jeanH img{
        height: 200px;
        display: block;
        margin: auto;
    }
    .jeanM img{
        position: relative;
        height: 200px;
        display: block;
        margin: auto;
        right: 25px;
    }
    .jeanM2 img{
        position: relative;
        height: 200px;
        display: block;
        margin: auto;
        right: 25px;
    }
    .marcas{
        position: relative;
        float: left;
        overflow:hidden;
        width: 45%;  
        margin-bottom: 10px;
    }
    .marcas img{
        position: relative;
        right:30px;
        max-height:70px
    }
    #principal{
        background-color: #faf6e9;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        top:80px;
        height: 1700px;
        width: 100%;
    }
}
@media(max-width: 768px) and (min-width:426px){
    .carousel-item img{
        height: 350px;
    }
    .zapatoH img{
        position:relative;
        height: 350px;
        display: block;
        margin: auto;
        max-height: 300px;
        right:10px;
    }
    .zapatoM{
        position: relative;
        float: left;
        overflow:hidden;
        width: 25%; 
        background-color: white;
        height: 350px;
        margin-bottom: 10px;
    }
    .zapatoM img{
        position: relative;
        height: 350px;
        display: block;
        margin: auto;
        max-height: 180px;
    }
    .CamisaH{
        position: relative;
        float: left;
        overflow:hidden;
        width: 25%;  
        margin-bottom: 10px;
    }
    .CamisaH img{
        height: 350px;
        display: block;
        margin: auto;
    }
    .remeraM img{
        height: 350px;
        display: block;
        margin: auto;
    }
    .buzoM img{
        position: relative;
        height: 400px;
        display: block;
        margin: auto;
        right: 20px;
    }
    .buzoH img{
        height: 400px;
        display: block;
        margin: auto;
    }
    .cinturonH img{
        height: 300px;
        display: block;
        margin: auto;
        max-height: 1000px;
    }
    .cinturonM img{
        height: 300px;
        display: block;
        margin: auto;
        max-height: 1000px;
    }
    .jeanH img{
        height: 400px;
        display: block;
        margin: auto;
    }
    .jeanM img{
        position: relative;
        height: 400px;
        display: block;
        margin: auto;
        right: 25px;
    }
    .jeanM2 img{
        position: relative;
        height: 400px;
        display: block;
        margin: auto;
        right: 25px;
    }
    .marcas{
        position: relative;
        float: left;
        overflow:hidden;
        width: 30%;  
        margin-bottom: 10px;
    }
    .marcas img{
        position: relative;
        right:30px;
        max-height:100px
    }
    #principal{
        background-color: #faf6e9;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        top:80px;
        height: 2100px;
        width: 100%;
    }
}
@media(max-width: 1024px) and (min-width:769px){
    .carousel-item img{
        height: 500px;
    }
    .zapatoH img{
        position:relative;
        height: 400px;
        display: block;
        margin: auto;
        max-height: 300px;
        right:10px;
    }
    .zapatoM{
        position: relative;
        float: left;
        overflow:hidden;
        width: 25%; 
        background-color: white;
        height: 400px;
        margin-bottom: 10px;
    }
    .zapatoM img{
        position: relative;
        height: 400px;
        display: block;
        margin: auto;
        max-height: 180px;
    }
    .CamisaH{
        position: relative;
        float: left;
        overflow:hidden;
        width: 25%;  
        margin-bottom: 10px;
    }
    .CamisaH img{
        height: 400px;
        display: block;
        margin: auto;
    }
    .remeraM img{
        height: 400px;
        display: block;
        margin: auto;
    }
    .buzoM img{
        position: relative;
        height: 600px;
        display: block;
        margin: auto;
        right: 20px;
    }
    .buzoH img{
        height: 600px;
        display: block;
        margin: auto;
    }
    .cinturonH img{
        height: 400px;
        display: block;
        margin: auto;
        max-height: 1000px;
    }
    .cinturonM img{
        height: 400px;
        display: block;
        margin: auto;
        max-height: 1000px;
    }
    .jeanH img{
        height: 600px;
        display: block;
        margin: auto;
    }
    .jeanM img{
        position: relative;
        height: 600px;
        display: block;
        margin: auto;
        right: 25px;
    }
    .jeanM2 img{
        position: relative;
        height: 600px;
        display: block;
        margin: auto;
        right: 25px;
    }
    .marcas{
        position: relative;
        float: left;
        overflow:hidden;
        width: 30%;  
        margin-bottom: 10px;
        top: 15px;
        max-height: 200px;
    }
    .marcas img{
        position: relative;
        display: block;
        margin: auto;
    }
    #principal{
        background-color: #faf6e9;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        top:80px;
        height: 2900px;
        width: 100%;
    }
}

