body{
    background-color: #faf6e9;
    background-image: url("/images/cover.jpg");
    background-size: 380px;
    
    
}

#princ{ 
    padding-top:140px;
    padding-bottom: 70px;
    width: 100%;
    text-align: center;
    font-family: "Montserrat";
}
.btn{
    margin-top: 20px;
    width: 100%;
    background-color:#494949 ;
    border: #494949;
}
.btn:hover{
    background-color: gray;
}
#error{
    color: red;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    
}
#error ul li{
    list-style: none;
}
#createAccount{
    margin-top: 5px;

}
#styleAccount{
    color: black;
    font-style: italic;
}