#PrdBag{
    background: white;
    font-family: "Montserrat";
    padding-top:100px;
}

#cuerpo{
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 30px;
     
}
#notProd{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}
#notProd img{
    height: 350px;
}
.btn{
    background-color:#494949 ;
    border: #494949;
    width: 100%;
    margin-bottom: 110px;
}
.btn:hover{
    background-color: gray;
}


