
/*
aca termina el header
----------------------------------------------------------------------------------------------
*/
#cuerpo{
    margin-top: 100px;
    margin-bottom: 30px;
}
.carousel-item{
    overflow: hidden;
}



