body{
    background-color: #faf6e9;
    background-image: url("/images/admin.jpg");
   
    background-size: 250px;
}
#imageProduct{
    text-align: center;
    margin-top: 20px;
}
#titulo{
    text-align: center;
}
#error{
    color: red;
    font-weight: 700;
    font-size: 20px;
}
#error ul li{
    list-style: none;
}
#cuerpo{
    font-family: "Montserrat";
    overflow: hidden;
    margin-top:90px; 
    margin-bottom: 50px;
}
.btn{
    background-color:#494949 ;
    border: #494949;
    width: 100%;
    margin-top:40px;
    height: 50px;
}
.btn:hover{
    background-color: gray;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}