body{
    background: #faf6e9;
}

#principal{
    margin-top: 80px;
    background: #faf6e9;
    overflow: hidden;
}
#bloque{
    overflow: hidden;
    background: #faf6e9;

}
.btn{
    background-color:#494949 ;
    border: #494949;
    width: 100%;
    transition: all 300ms;
}
.btn:hover{
    background-color: gray;
    transform: translateY(5px);
}
#boton-abajo{
    margin-top: 20px;
    margin-bottom: 30px;
    
}
tbody tr th a img{
    mix-blend-mode:multiply;
    height: 30px;
    margin: auto;
    display: block;
}
#tablaAling{
    text-align: center;
}
@media(max-width:425px){
    #principal{
        margin-top: 85px;
        font-size: 10px;
        
    }
}