
#cuerpo{
    background-color: #faf6e9;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 80px;
    width: 100%; 
    margin-bottom: 10px; 
    
}

body {
    background: #faf6e9;
    background-image: url("/images/MenuAdmin.jpg");
    background-size: 300px;
}

.container p {
    font-family: "Montserrat";
    font-size: 15px;
    color:#494949;
    font-weight: bolder;
    text-align: justify;
}

#title {
    font-family: "Montserrat";
    text-align: center;
}

#mail {
    font-family: "Montserrat";
    text-align: center;
}

#edit {
    font-family: "Montserrat";
    color: black;
    text-align: center;
}

.nav-item {
    font-family: "Montserrat";
    color: #494949;
}

.btn {
    font-family: "Montserrat";
    width: 45%;
    background-color:  #494949;
    border-color:  #494949;

}

.btn:hover{
    background-color: gray;
    border-color:  gray;
}

h5 {
    font-family: "Montserrat";
}

#right {
    background-color: #ece8d9;
    
    

    
}
#total{
    background-color: #ece8d9;
    
    
}

.card-body {
    background-color:  #faf6e9;
    
    

}

#tar1 {
    height: 300px;
    margin-top: 60px;
}

#tar2 {
    padding-top: 90px;
    
}

#text {
    text-align: center;
}

#say {
    margin-top:10px;
    font-family: "Montserrat";
    font-size: 45px;
}
#singout{
    margin-bottom: 25px;
}
#singout a button{
    width: 100%;
}

.card-img-top{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 200ms ease-out;
}

.card-img-top:hover{
    transform:scale(0.95);
    border-radius: 10px;
    transition: all 200ms ease-in;
    transition: all 200ms ease-out;
    opacity: 0.8;
    
        
}



