
#cuerpo{
    background-color: #faf6e9;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 110px;
    width: 100%; 
    margin-bottom: 20px; 
}

body {
    background: #faf6e9;
}

.container p {
    font-family: "Montserrat";
    font-size: 15px;
    color:#494949;
    font-weight: bolder;
    text-align: justify;
}

#title {
    font-family: "Montserrat";
}

#mail {
    font-family: "Montserrat";
}
#edit {
    font-family: "Montserrat";
    color: black;
}

.nav-item {
    font-family: "Montserrat";
    color: #494949;
}

.btn {
    font-family: "Montserrat";
    width: 45%;
    background-color:  #494949;
    border-color:  #494949;

}

.btn:hover{
    background-color: gray;
    border-color:  gray;
}

h5 {
    font-family: "Montserrat";
}

#right {
    background-color: #ece8d9;
    height: 500px;
    padding: 20px;
}

.card-body {
    background-color:  #faf6e9;
    

}

#tar1 {
    height: 350px;
}

#tar2 {
    padding-top: 90px;
}

#text {
    text-align: center;
}

#say {
    font-family: "Montserrat";
    font-size: 45px;
}
#singout{
    margin-bottom: 30px;
}
#singout a button{
    width: 100%;
}





