body{
    background-color: #faf6e9;
    font-family: "Montserrat";
}

#cuerpo{
    text-align: center;
    padding-top: 100px;
}
#fotulis{
    overflow: hidden; 
}
#imagen{
    background-image: url("/images/search.jpg");
    background-size: 200px;
}
#picture{
    overflow: hidden;
    
    
}
#fotulis:hover{
    opacity: 0.9;
}
.photo-container img{
    border-radius: 5px;
    width: 100%;
  

}
.photo-container img:hover{
    border-top: 3px solid white;
    border-left: 3px solid white;  
}

#datos{
    width: 100%;
    margin: auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
}
#precioAnterior{
    position: relative;
    font-size: 15px;
    text-decoration: line-through;
    bottom: 42px;
    left: 50px;
}
#imageSale img{
    height: 50px;
}
#imageSale{
    position: relative;
    bottom: 80px;
    right: 70px;
}