
#cuerpo{
    overflow: hidden;
    padding-top:80px;
    width: 100%; 
  
}
body {
    background: #faf6e9;
    font-family: "Montserrat"; 
    
}
.story{
text-align: center;
background-color:#ece8d9;
}
#carusel img{
 width: 100%;

}
#carusel{
    margin: auto;
    display: block;
    
}
#texto{
    text-align: center;
    padding: 3%;
}




