<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/Policy.css">
    <title>COCO | Options</title>
</head>
<body>
    <% include partials\header.ejs %>

    <% console.log(productID) %>

    <% include partials\script.ejs %>
</body>
    <% include partials\footer.ejs %>
</html>