<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/delivery.css">
    <title>COCO | Contact </title>
</head> 
<body >
    <% include partials\header.ejs %> 

    <section class="container" id="cuerpo">
        <div class="row" id="box">

            <div class="col-6" id="delivery"> 
                <p><b> DELIVERY INFO</b></p>
                <p>UNITED STATES, UPS GROUND</p>
                <p>Rate: $10 or Free On Orders Over $100</p>

                <p>Delivery Time: 3-6 Business Days</p>

                <p>UNITED STATES, UPS EXPRESS</p>
                <p>Rate: $25</p>
                <p>Delivery Time: 2-3 Business Days</p>
                <p>We are temporarily suspending shipping to all countries outside the United States as we explore better options to serve our international customers.</p> 
                <p>INTERNATIONAL RETURNS</p>
                <p>We do not currently accept online returns and exchanges internationally. For more information, please contact support@coco.com</p>
            </div>

            <div class="col-6" id="return">
                    <p> <b>RETURN POLICY</b> </p>
                    <p> COCO is committed to ensuring your complete satisfaction with each of your purchases. We gladly accept returns and exchanges on full-priced, non-international orders within 30 days of delivery.</p>
                    <p> Return items must be in new condition with original tags attached. </p> 
                        
                    <p> International orders and sale items are final sale and cannot be returned or exchanged. We do not reimburse shipping.</p>
                        
                    <p> To initiate a return, please email us at support@coco.com and include your order number. </p>
                        
                    <p> Orders placed between November 15th and December 15th are open to extended returns through January 15. </p>
                        
                    <p> Please contact our customer service team with any questions. </p>
                        
                    <p>support@coco.com </p>

            </div>
          

            </div>  

        
        
    </section>
   
    <% include partials\script.ejs %> 
      
</body>
    <% include partials\footer.ejs %> 
</html>