<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>COCO | Login </title>
</head> 
<% include partials\header.ejs %> 
<body id="cuerpo">
    
    <section class="container">
        <div id="error">
            <% if (typeof errors != "undefined") { %>  
                <ul>
                    
                    <% for (let i = 0 ; i < errors.length ; i++) { %>
                        <li>
                            <%= errors[i].msg %>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </div>
        <div >
        <form action="/users" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit"></input>
          </form>
        </div>
    </section>
    <% include partials\script.ejs %> 
      
</body>
    <% include partials\footer.ejs %> 
</html>