<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/profileEdit.css">
    
    <title>COCO | Password </title>
</head> 
<body>
    
    <% include partials\header.ejs %> 

    <section class="container" id="cuerpo">
    
    <div class="col-12" id="passwords">
        
    <div class="row">
    <div class="col-6">

    </div>
    
    <div class="col-6">

    
    
    <div id="error">
        <% if (typeof errors != "undefined") { %>  
            <ul>
                
                <% for (let i = 0 ; i < errors.length ; i++) { %>
                    <li>
                        <%= errors[i].msg %>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </div>

    

    
    <h2 id="titulo"><strong>Edit password</strong></h2>
    
    <form class="needs-validation" novalidate action="/users/profile/password/edit/<%= ID %>?_method=PUT" method="POST">

        <div class="col-12">
            <label for="validationCustom04"><strong>Enter your current password</strong></label>
            <input type="password" class="form-control" id="validationCustom04" name="Password" value="" required>
            <div class="invalid-feedback">
            <strong>Please enter a password</strong>
            </div>
          </div> 

        <div class="col-12">
            <label for="validationCustom04"><strong>Enter your new password</strong></label>
            <input type="password" class="form-control" id="validationCustom04" name="PasswordNew" value="" required>
            <div class="invalid-feedback">
            <strong>Please enter a password</strong>
            </div>
          </div> 
        <div class="col-12">
            <label for="validationCustom05"><strong>Repeat your new password</strong></label>
            <input type="password" class="form-control" id="validationCustom05" name="passwordRepeat" value="" required>
            <div class="invalid-feedback">
            <strong>Please enter a password</strong>
            </div>
          </div>    
        
        <div class="form-row">
        <div class="col-6">
        <button class="btn btn-primary" type="submit">Save</button>
        </div>  
        <div class="col-6">
            <a href="/users" ><button type="button" class="btn btn-primary">
              Cancel
              </button>
          </a>
          </div>
        </div>
      </form>

    </div>
    </div>
    </div>

    </section>
      
      <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>


    <% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>