<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    
    <link rel="stylesheet" href="/stylesheets/productBag.css">
   
    <title>COCO | Bag</title>
</head>
<% include partials\header.ejs %> 
<body id="PrdBag">
    
    <div class="container">
        <div class="row">
            <div class="col-12" id="cuerpo">
                <p><b>BAG</b></p>
            </div>
            
        </div>

        <div class="row">
            <div class="col-12" id="notProd">
                <img src="/images/sadBag.jpg" alt="">
                <p><b>Oops! you don’t have products in your bag</b></p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <a href="/product/view/shop" ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                    Add products
                    </button>
                </a>
            </div>
            <div class="col-4">
            </div>
        </div>
        <%= productos %>
    </div>
                    
    <% include partials\script.ejs %> 
</body>
    <% include partials\footer.ejs %>  
</html>