<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    <title>COCO | Ditail </title>
</head> 
<body >
    <% include partials\header.ejs %> 
<section class="container-fluid" id="cuerpo">
  <div class="row">
     
       <div class="col-5 col-md-7 col-lg-7" id="images">
        
            <a href="#"><img src="/images/Indumentaria/Mujer/remeras/RemeraMiniCadenaLino/gris/RemeraMiniCadenaLinoGris1.png" alt="Remera" id="remera1"></a>
            <a href="#"><img src="/images/Indumentaria/Mujer/remeras/RemeraMiniCadenaLino/gris/RemeraMiniCadenaLinoGris2.png" alt="Remera" id="remera2"></a>
            <a href="#"><img src="/images/Indumentaria/Mujer/remeras/RemeraMiniCadenaLino/gris/RemeraMiniCadenaLinoGris3.png" alt="Remera" id="remera3"></a>
      
   
       
       </div>
        <div class="col-7 col-md-5 col-lg-5" id="selection">
            
            
                    <p class="nombreProducto"><b>T-SHIRT LINEN</b></p>
            
                
                
                    <p class="selection-color"><label for=""><b>COLOR:</b></label></p>
                    <p> <input type = "radio" name="color" value="gris"> <b>Grey</b> 
                        <input type = "radio" name="color" value="negro"> <b>Black</b>
                        <input type = "radio" name="color" value="negro"> <b>White</b> </p>
                    
    
                  
                    <p class="talle"><label for=""><b>SIZE:</b></label></p>
                    <p> <input type = "radio" name="talle" value="S"> <b>S</b> 
                        <input type = "radio" name="talle" value="M"> <b>M</b>
                        <input type = "radio" name="talle" value="L"> <b>L</b>
                        <input type = "radio" name="talle" value="XL"> <b>XL</b> 
                        <input type = "radio" name="talle" value="XXL"> <b>XXL</b></p>
            
                            
                     
                    <a href="#" class="tabla-talles"><b>SIZE GUIDE</b></a>
               
                
               
                    <p class="description"><b>DESCRIPTION</b></p>
                            <ul type="bullet">
                                <li>FABRIC: Linen</li>
                                <li>DITAILS: Beautiful silk thread details</li>
                                <li>FIT: Loose and comfy!</li>
                            </ul>
                     
    
                   
                        
                    <p class="precio"><b>ON SALE! ONLY $14,99 usd</b></p>
    
        
                    <a href="#"><button type="button" class="btn btn-dark">ADD TO BAG</button></a>
                 
                       
               
            </div>
                   
  </div>
</section>
<% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>