<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <title>COCO | Add product</title>
</head>
<body>
    <% include partials\header.ejs %> 
       
    <section class="container" id="cuerpo">
      <div class="row">

          <div class="col-12"> 
            
            <form action="/product/create" method="POST" enctype="multipart/form-data">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for=""><strong>Name</strong></label>
                    <input type="text" class="form-control" name="name" placeholder="enter name">
                  </div>
                  <div class="form-group col-md-3">
                    <label for=""><strong>Brand</strong></label>
                    <select id="inputState" class="form-control" name="brand">
                      <option selected>Coco</option>
                      <option>Vans</option>
                      <option>Wemoto</option>
                      <option>Olend</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for=""><strong>Quantity</strong></label>
                    <input type="number" class="form-control" name="quantity" placeholder="enter number">
                  </div>
                  
                </div>
                <div class="form-group">
                  <label for=""><strong>Description</strong></label>
                  <input type="text" class="form-control" name="description" placeholder="enter description">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for=""><strong>Colour</strong></label>
                    <select id="inputState" class="form-control" name="colour">
                      <option>black</option>
                      <option>red</option>
                      <option>white</option>
                      <option>blue</option>
                      <option>grey</option>
                      <option>yellow</option>
                      <option>brown</option>
                      <option>lightblue</option>
                      <option>lilac</option>
                      <option>orange</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for=""><strong>Size</strong></label>
                    <select id="inputState" class="form-control" name="Size">
                      <option selected>XS</option>
                      <option>S</option>
                      <option>M</option>
                      <option>L</option>
                      <option>XL</option>
                      <option>XXL</option>
                      
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for=""><strong>Offer</strong></label>
                    <select id="inputState" class="form-control" name="offer">
                      <option> not</option>
                      <option> yes</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for=""><strong>Discount</strong></label>
                    
                    <select id="inputState" class="form-control" name="discount">
                      <option> 0 </option>
                      <option> 10</option>
                      <option> 20</option>
                      <option> 30</option>
                      <option> 40</option>
                      <option> 50</option>
                      
                    </select>
                  </div>
                  
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">

                  </div>
                  <div class="form-group col-md-2">
                    <label for=""><strong>Genre</strong></label>
                    <select id="inputState" class="form-control" name="genre">
                      <option >Man</option>
                      <option >Woman</option>
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label for=""><strong>Category</strong></label>
                    <select id="inputState" class="form-control" name="category">
                      <option >Shirts</option>
                      <option >T-Shirts</option>
                      <option >Pants</option>
                      <option >Shoes</option>
                      <option >Coats</option>
                      <option >Dresses</option>
                      <option >Skirts</option>
                      <option >Belts</option>
                      <option >Accesories</option>

                    </select>
                  </div>


                  
                  <div class="form-group col-md-3">
                    <label for=""><strong>Price</strong></label>
                    <input type="number" class="form-control" name="price" placeholder="enter price">
                  </div>
                  <div class="form-group col-md-2">

                  </div>
                  


                </div>
                <div class="custom-file" id="imageProduct">
                  <label form=""><strong>Image</strong></label>
                  <input type="file" name="image">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
                <div class="form-group col-md-6">
                  <a href="/product" ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                    Cancel
                    </button>
                </a>
                </div>

                </div>
                
                
              </form>

              

              


          </div>

      </div>
      
  </section>
    <% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>