<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/register.css">
    
    <title>COCO | Register </title>
</head> 
<body >
    <% include partials\header.ejs %> 
    <section id="cuerpo">
        <div class="row">
        <div class="col-12">

            <p class="registro"><b>Register</b></p>
            <p class="parrafo"><b>Please fill in the information below:</b></p><br>
            <input class="name" type="text" placeholder="First name" name="uname" required><br>
        
            
            <input class="last" type="password" placeholder="Last name" name="psw" required><br>
            <input class="mail" type="text" placeholder="Email" name="uname" required><br>
        
            
            <input class="passw" type="password" placeholder="Password" name="psw" required><br>
            <br>
            
            <button class="boton2" type="submit"><b>Create my account</b></button><br>
            <label>
             


        </div>

          </div>
            
      
    </section>


    <% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>