<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <title>COCO | Search</title>
</head>
<% include partials\header.ejs %> 
<body>
    
       
    <section class="container" id="cuerpoSearch">
        <div class="row">
            <article class="col-4" id="busqueda">
            
                    <form class="form-inline">
                    <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
             

            </article>

            <article class="col-4">
                
            </article>
            

            <article class="col-4">
                
            </article>
        
        </div>
  </section>
    <% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>