<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <title>COCO | edit product</title>
</head>
<% include partials\header.ejs %> 
<body>
    
       
    <section class="container" id="cuerpo">
      <div class="row">
          
        <% productsList.forEach(product => { %>

          <article class="col-3" id="fotulis"> 
            <div class="photo-container">
              <a href="/product/detail/<%= product.id %>" id="picture"><img class="photo" src="/images/Indumentaria/<%= product.image %>" alt="pdto 02"></a>
            
            </div>
            <div id="datos">
              <br>
              <h5><%= product.name %></h5>
              <p><b>$<%= product.price %></b></p>
            </div>
          </article>

        <% }) %>
      </div>
      
  </section>
    <% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>