<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/userEdit.css">
    
    <title>COCO | User edit </title>
</head> 
<body >
    
    <% include partials\header.ejs %> 

    <section class="container" id="cuerpo">

      <h2 id="titulo">Do you want to make this user an Admin?</h2>
      
        <form action="/users/view/edit/<%= ID %>?_method=PUT" method="POST">
          
          <div class="form-row" id="cat">
  
              
                <div class="form-group col-4">
                </div>
                <div class="form-group col-4">
                  <label class="btn btn-secondary" id="selectAdmin">
                    <input type="radio" name="category" value= "<%= userID.category = 1 %>" id="option2"> Yes
                  </label>
                  <label class="btn btn-secondary" id="selectAdmin"> 
                    <input checked type="radio" name="category" value= "<%= userID.category = 2 %>" id="option3"> No
                  </label>
                    
                </div>
                <div class="form-group col-4">
                </div>
              
              
          </div>  
          <div class="form-row" id="changes">
  
                <div class="form-group col-4">
                </div>
                <div class="form-group col-4">
                  <button id= 'save' class="btn btn-primary" type="submit">Save changes</button> 
                  <a href="/users/list" ><button type="button" class="btn btn-primary">
                    Cancel
                    </button>
                </a>
                </div>
                <div class="form-group col-4">
                </div>
              
              
          </div>
        </form>
  
      </section>
      
      <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>


    <% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>