<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<section>
    <div class="container-fluid" id="barra-inferior">
        <div class="col-12"> 
            <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <article class="bleft">
                                    <ul>
                                        <li><a><b>MORE INFORMATION</b></a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Delivery & Returns</a></li>
                                        <li><a href="#">Find a Retailer</a></li>
                                        <li><a href="#">Our Story</a></li>
                                    </ul>
                                </article>
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-0">
                                <article id="coco2">
                                    <img src="/images/LogoNuevo1.png" alt="COCO">
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <article class="info">
                                    <ul>
                                        <li><a><b>WHERE TO FIND US</b></a></li>
                                        <li><a>Via Sole 7 - 37121 Verona, IT</a></li>
                                        <li><a>Tel: +54 0351 803 3068</a></li>
                                        <li><a>Mail: info@cocointernational.com</a></li>
                                    </ul>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="row">
                                    <div class="col-12" id="bloque-derecha">
                                        <article class="extras">
                                            <ul>
                                                <li><a href="policy">Privacy policy</a></li>
                                                <li><a href="terms">Terms and conditions</a></li>
                                                <li><b>SOCIAL NETWORKS</b></li>
                                            </ul>
                                        </article>
                                    </div>
                                    <div class="col-12">
                                        <article class="redes">
                                            <ul>
                                                <li><a href="#"><img src="/images/iconos/whatsapp.png" alt="whatsapp"></a></li>
                                                <li><a href="#"><img src="/images/iconos/facebook.png" alt="facebook"></a></li>
                                                <li><a href="#"><img src="/images/iconos/instagram.png" alt="instagram"></a></li>
                                            </ul>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="inferior">
        <div class="col-12">
                <div id="texto-inferior">
                    Copyright © 2020 COCO all rights reserved
                </div>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
</section>       

</html>