<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<section>
    <div class="container-fluid" id="barra-inferior">
        <div class="col-12"> 
            <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <article class="bleft">
                                    <ul>
                                        <li><a><b>MORE INFORMATION</b></a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Delivery & Returns</a></li>
                                        <li><a href="#">Find a Retailer</a></li>
                                        <li><a href="#">Our Story</a></li>
                                    </ul>
                                </article>
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-0">
                                <article id="coco2">
                                    <img src="/images/LogoNuevo1.png" alt="COCO">
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <article class="info">
                                    <ul>
                                        <li><a><b>WHERE TO FIND US</b></a></li>
                                        <li><a>Via Sole 7 - 37121 Verona, IT</a></li>
                                        <li><a>Tel: +54 0351 803 3068</a></li>
                                        <li><a>Mail: info@cocointernational.com</a></li>
                                    </ul>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="row">
                                    <div class="col-12" id="bloque-derecha">
                                        <article class="extras">
                                            <ul>
                                                <li><a href="/policy">Privacy policy</a></li>
                                                <li><a href="/policy/terms">Terms and conditions</a></li>
                                                <li><b>SOCIAL NETWORKS</b></li>
                                            </ul>
                                        </article>
                                    </div>
                                    <div class="col-12">
                                        <article class="redes">
                                            <ul>
                                                <li><a href="#"><img src="/images/iconos/whatsapp.png" alt="whatsapp"></a></li>
                                                <li><a href="#"><img src="/images/iconos/facebook.png" alt="facebook"></a></li>
                                                <li><a href="#"><img src="/images/iconos/instagram.png" alt="instagram"></a></li>
                                            </ul>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="inferior">
        <div class="col-12">
                <div id="texto-inferior">
                    Copyright © 2020 COCO all rights reserved
                </div>
        </div>
    </div>
            
</section>       

</html>