<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<section> 
        <div class="container-fluid fixed-top"  id="position">
            <div class="row" id="cabecera">
                <div class="col-12" id="barra">          
                        25% OFF IN WINTER SEASON
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6" id="menu">
                            <ul>
                                <li><a href="/product/view/sale"><b>SALE</b></a></li>
                                <li><a href="/product/view/shop"><b>SHOP</b></a></li>
                                <li><a href="/contact"><b>CONTACT</b></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-2" id="coco">
                            <a href="/"><img src="/images/LogoNuevo2.png" alt="COCO"></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-4">
                            <div class="row" id="iconos">
                                <div class="col-lg-5 col-md-2 col-0">

                                </div>
                                <div class="col-lg-7 col-md-10 col-12">
                                    <ul>
                                        <li id="lup"><a href="search"><img src="/images/iconos/lupa.png" alt="Lupa"></a></li>
                                        <li><a href="/users"><img src="/images/iconos/usuario.png" alt="usuario"></a></li>
                                        <li><a href="/users/bag"><img src="/images/iconos/bolsa.png" alt="Carrito"></a></li>
                                    </ul>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</html>